/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
  margin: 0;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* arriba */
  height: 100vh;
  padding-top: 40px; /* separación arriba */
  font-family: monospace;
}

.counter-container {
  display: flex;
  background: black;
  padding: 20px 30px;
  border-radius: 15px;
}

.digit {
  background: #1a1a1a;
  color: #ffffff;
  font-size: 70px;
  width: 90px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 10px;
}

.clock {
  font-size: 45px;
}
